utils/*.pkl
.venv/
*.pyc
__pycache__/
TIMES-NZ\ParScen_BackUp
TIMES-NZ\SuppXLS\ParScenFiles
TIMES-NZ/AppData/ExResLayout.json
TIMES-NZ/AppData/MasterFormFormSettings.json
TIMES-NZ/AppData/ResultsFormSettings.json
TIMES-NZ/AppData/Settings.json
